.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.local/
*.iml
.DS_Store
Thumbs.db
android/.gradle/
android/.kotlin/
android/local.properties
ios/Pods/
ios/.symlinks/
coverage/
*.db
*.sqlite
private/
consentimento_assinado.*
comprovante_cnpj.*
